version: '3.8'

services:
  # 1. MySQL 서버
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: AZit_db
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  # 2. FastAPI 서버
  fastapi-app:
    build:
      context: ./python_server
      dockerfile: Dockerfile
    container_name: fastapi-server
    ports:
      - "8000:8000"
    volumes:
      - ./python_server/midi_outputs:/app/midi_outputs
      - ./python_server/svg_outputs:/app/svg_outputs

  # 3. Spring 서버
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-server
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    depends_on:
      - mysql
      - fastapi-app

volumes:
  mysql_data:
