version: '3.8'

services:
  # 1️⃣ Spring 서버
  spring-app:
    build:
      context: .  # 현재 폴더 (AZit-3/AZit-3)
      dockerfile: Dockerfile
    container_name: spring-server
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    environment:
      - FASTAPI_URL=http://fastapi-app:8000   # FastAPI 통신용
    depends_on:
      - fastapi-app  # FastAPI 먼저 실행
    networks:
      - azit-network

  # 2️⃣ FastAPI 서버
  fastapi-app:
    build:
      context: ./python_server
      dockerfile: Dockerfile
    container_name: fastapi-server
    ports:
      - "8000:8000"
    volumes:
      - ./python_server/midi_outputs:/app/midi_outputs
      - ./python_server/svg_outputs:/app/svg_outputs
    networks:
      - azit-network

# 3️⃣ 두 컨테이너가 공유하는 네트워크
networks:
  azit-network:
    driver: bridge
